		body {
			margin: 0 auto;
			background-color: rgb(246, 246, 246);
			font-family: 'Roboto', sans-serif;
		}
		.wrapper {
			margin-top: 2rem;
			/*border-top: 2px solid;
			border-bottom: 2px solid;*/
		}
		.left-side {
			display: inline-block;
			width: 35%;
			padding-left: 4rem;
			vertical-align: top;
		}
		.right-side {
			display: inline-block;
			width: 55%;
		}
		.inner-box {
			padding-left: 3rem;
			padding-right: 2em;
		}
		/*footer {
			border-bottom: none;
			clear: both;
			text-align: right;
			font-style: italic;
			font-size: 1rem;
			padding-top: 2rem;
			padding-right: 1rem;
		}*/
		#name {
			font-size: 4rem;
			line-height: 1rem;
		}
		#about-head {
			font-size: 2rem;
		}
		ul {
			padding-left: 0;
		}
		li {
			display: inline-block;
			margin-right: 4px;
		}
		#menu {
			display: block;
		}
		a {
			text-decoration: none;
		}
		a:link {
			color: black;
		}
		a:visited{
			color: black;
		}
		a:hover .fa {
			opacity: 0.5;
		}
		a:hover {
			opacity: 0.5;
		}
		.active-about {
			text-decoration: underline;
		}
		img {
			max-width:100%;
			max-height:100%;
		}
		i.fa {
			color: black;
			padding: 0.1rem;
			font-size: 1.75rem;
		}
		@media screen and (max-width: 768px) {
			.wrapper {
				border-top: none;
				border-bottom: none;
			}
			.left-side, .right-side {
				width: auto;
				padding: 0 30px;
			}
			.inner-box {
				width: auto;
				padding: 0;				
			}
			img {
				display: none;
			}
		}