body {
  margin: 0;
  padding-right: 50px;
  padding-left: 50px;
  padding-top: 10px;
  background-color: #f6f6f6;

}

h1 {
  font-family: Helvetica;
}

h3 {
  font-family: Helvetica;
  letter-spacing: 1.5px;
}

.monster {
  border: 3px solid #000;
}

img {
  padding: 20px;
}

.pretty {
  line-height: 1.5;
  font-size: 20px;
  font-family: times;
}

a {
  color: #000000;
  font-family: Helvetica;
  font-weight: bold;
