body {
    background-color: black;

}
h1 {text-align: center;
	font-family: "Impact", Times, serif;
	color:#0BA5D9}

p {font-family: "Impact", Times, serif;
	color:#0BA5D9}

	ul {font-family: "Impact", Times, serif;
	color:#0BA5D9}
	
	h2 {text-align: center;
		font-family: "Impact", Times, serif;
	color:#0BA5D9}