body {
  margin:0;
}

a {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  color: #000;
  }

  h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 50px;
    color: #020D38;
    }

   h2 {
      font-family: 'Lato', sans-serif;
      font-size: 35px;
      color: #020D38;
      }

    p {
      font-family: 'Lato', sans-serif;
      font-size: 18px;
      line-height: 1.5;
      color: #000;
      }

.top_nav {
background-color: #020D38;
padding: 30px;
text-align: center;
}

.name_area {
  background-color: #06259E;
  padding: 30px;
  text-align: center;
}