body {
	border:solid 5px;
	padding-left: 1.5cm;
	padding-right: 1.5cm;
	padding-top: .5in;
	padding-bottom: 2cm;
	font-family: helvetica;
	}

nav {text-align: center}

h1 {text-align: center}

span.title {
	font-weight: bold;
	font-style: italic;
}
span.time{
	font-size: 12px
	
}